@font-face {
    font-family: pop;
    src: url('./Poppins-Medium.ttf');
}

:root {
    --bg-color: #fff;
    --df-color: #eecf8c;
    --text-color: #0c0c0b;
    --xxxx: 3.25rem;
    --xxx: 2.75rem;
    --xx: 2.25rem;
    --x: 1.75rem;
    --l: 1.35rem;
    --m: 1rem;
    --s: .85rem;
    --xs: .5rem;
    --transition: .3s;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: pop;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--m);
}

main {
    padding-top: 87px;
}

section {
    margin: var(--xxxx) 0;
    padding: var(--xxxx) 5%;
    box-sizing: border-box;
}

section h1 {
    font-size: var(--xx);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: var(--x);
}

.container {
    display: grid;
    gap: var(--m);
}

/* header */
header {
    height: 87px;
    width: 100%;
    padding: var(--xs) var(--m);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: #ffffff5b;
    backdrop-filter: blur(5px);
    z-index: 1000;
}

header a {
    padding: var(--xs) var(--s);
    border-radius: var(--xs);
}

header a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.header__logo {
    width: 111px;
}

.header__pack,
.header__box {
    display: flex;
    align-items: center;
}

.header__pack a:nth-of-type(2):hover {
    color: var(--text-color);
}

.header__products {
    display: none;
    padding: var(--l);
    width: 80%;
    max-width: 80%;
    overflow: auto;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
    border-top-right-radius: var(--xs);
    border-top-left-radius: var(--xs);
    scroll-snap-type: x mandatory;
}

.header__part {
    margin: 0 var(--xs);
    scroll-snap-align: start;
    padding: var(--l);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: max-content;
    border-radius: var(--m);
    display: grid;
    grid-auto-rows: max-content;
    row-gap: var(--xs);
}

.header__products h4 {
    text-transform: capitalize;
    white-space: nowrap;
    margin-bottom: var(--xs);
}

.header__pack a:nth-of-type(2) {
    background-color: transparent;
}

.header__pack a:nth-of-type(2):hover .header__products {
    display: flex;
}

.header__box {
    gap: var(--m);
}

.header__svg {
    border: 1px solid var(--text-color);
    border-radius: var(--xs);
    padding: var(--xs) var(--s);
}

.header__svg svg {
    max-width: 21px;
    max-height: 21px;
}

a:hover svg {
    fill: var(--bg-color);
}

.header__menu svg {
    max-width: 30px;
    max-height: 30px;
    fill: var(--text-color);
}

.header__button,
.header__menu {
    display: none;
}

.header__title {
    display: flex;
    align-items: center;
    gap: var(--xs);
}

.header__new {
    padding: 1px 4px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    font-size: var(--s);
}

.header__title p {
    text-transform: capitalize;
    white-space: nowrap;
}

.header__title p:hover {
    text-decoration: underline;
}

/* header */


/* opening */
.opening {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    background-repeat: no-repeat;
    background-position: 0 -111px;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 50vh;
    color: var(--bg-color);
}

.opening h1 {
    font-size: 50px;
}

/* opening */

/* opening */
.categories__container {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    column-gap: var(--x);
}

.category__link {
    min-width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    scroll-snap-align: start;
    padding-bottom: var(--m);
}

/* opening */

/* features */
.features {
    background-color: var(--text-color);
    color: var(--df-color);
    text-align: center;
    margin-bottom: 0;
    padding-bottom: var(--xxxx);
}

.features__subtitle,
small {
    color: var(--bg-color);
    opacity: .7;
}

.features__flex {
    margin-top: var(--xx);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--l);
}

.features__pill {
    padding: calc(var(--xxxx) * 2) var(--xx);
    border-radius: 300px;
    display: grid;
    grid-auto-rows: max-content;
    place-items: center;
    background-color: #342504;
    outline: var(--df-color) solid 1px;
    outline-offset: -20px;
    row-gap: var(--m);
    box-sizing: border-box;
}

.features__pill img {
    width: 200px;
    height: 150px;
    object-fit: contain;

}

/* features */

/* banner */
.banner {
    margin: 0;
    padding: 0;
}

.banner img {
    width: 100%;
}

/* banner */

/* gallery */
.gallerys {
    display: grid;
    grid-auto-rows: max-content;
    place-items: center;
}

.gallery__container {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.gallery__container a {
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gallery__button {
    margin-top: var(--m);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--m);
    border-radius: var(--xs);
    border: 1px solid var(--text-color);
    width: max-content;
    height: 50px;
    width: 187px;
    opacity: .88;
    transition: var(--transition);
}

.gallery__button:hover {
    transform: scale(1.05);
    opacity: 1;
}

.gallery__button img {
    width: 30px;
    height: 30px;
}

/* gallery */

/* footer */
footer {
    display: flex;
    justify-content: center;
    gap: var(--xxxx);
    padding: var(--x) 0;
    background-color: var(--text-color);
    color: var(--bg-color);
}

footer a {
    color: var(--bg-color);
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    width: 253px;
    object-fit: contain;
}

.footer__flex {
    display: flex;
    gap: var(--m);
}

.footer__link {
    display: grid;
    grid-template-rows: repeat(4, max-content);
}

/* footer */

/* whatsapp */
.whatsapp {
    position: fixed;
    bottom: var(--xxxx);
    right: var(--l);
    background-color: rgb(67, 36, 2);
    width: var(--xxxx);
    height: var(--xxxx);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: var(--xs);
    opacity: .9;
    transition: var(--transition);
    z-index: 100;
}

.whatsapp:hover {
    opacity: 1;
    transform: scale(1.05);
}

.whatsapp svg {
    max-width: var(--xx);
    max-height: var(--xx);
    fill: var(--df-color);
}

/* whatsapp */

@media screen and (max-width : 1024px) {
    :root {
        --xxxx: 3rem;
        --xxx: 2.5rem;
        --xx: 2rem;
        --x: 1.5rem;
        --l: 1.25rem;
    }

    .line {
        fill: none;
        stroke: var(--text-color);
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }

    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .open .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    .open .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }

    .open .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    .header__pack {
        display: none;
    }

    .header__box a {
        display: none;
    }

    header .header__button {
        display: flex;
    }

    header .header__button svg {
        max-width: 35px;
        max-height: 35px;
    }

    header .header__button:hover {
        background-color: unset;
    }

    .header__menu {
        display: grid;
        position: fixed;
        top: 60px;
        right: -327px;
        width: 325px;
        overflow: auto;
        padding: var(--m);
        background-color: var(--bg-color);
        box-sizing: border-box;
        gap: var(--m);
        border: 1px solid var(--text-color);
        border-top-left-radius: var(--m);
        border-bottom-left-radius: var(--m);
        transition: var(--transition);
    }

    .header__menu.active {
        right: -2px;
    }

    .header__search {
        display: flex;
        align-items: center;
        background-color: #0c0c0b0b;
        width: 80%;
        padding: var(--xs) var(--m);
        border-radius: var(--xs);
        justify-content: space-between;
    }

    .header__search input {
        outline: none;
        border: none;
        background-color: transparent;
    }

    .header__search svg {
        max-width: 18px;
        max-height: 18px;
        fill: var(--text-color);
    }

    .header__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__links {
        display: flex;
        align-items: center;
        max-width: 100%;
        overflow: auto;
        white-space: nowrap;
        padding-bottom: 3px;
    }

    .header__data {
        max-height: 400px;
        overflow: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--m);
    }

    .header__item h4 {
        text-transform: uppercase;
    }

    .features__flex {
        grid-template-columns: repeat(2, 1fr);
    }

    footer img {
        width: 212px;
    }
}


@media screen and (max-width : 768px) {
    :root {
        --xxxx: 2.75rem;
        --xxx: 2.25rem;
        --xx: 1.75rem;
        --x: 1.35rem;
        --l: 1.15rem;
    }

    .opening {
        min-height: unset;
        margin-bottom: 0;
    }

    section:nth-of-type(2) {
        margin-top: 0;
    }

    .gallerys {
        margin-top: 0;
    }

    .features__flex {
        grid-template-columns: 1fr;
    }

    .features__pill {
        padding-bottom: 200px;
    }

    .gallery__container {
        grid-template-columns: repeat(2, 1fr);
    }

    footer img {
        width: 177px;
    }
}

@media screen and (max-width : 512px) {
    :root {
        --xxxx: 2.5rem;
        --xxx: 2rem;
        --xx: 1.5rem;
        --x: 1.25rem;
        --l: 1.05rem;
        --m: .9rem;
        --s: .8rem;
    }

    .gallery__container {
        grid-template-columns: 1fr;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}